In [10]:
import pandas as pd

In [82]:
# turicreate_results['Unnamed: 0'] = turicreate_results['Unnamed: 0'].apply(lambda x: x if x!='standard' else 'standard deviation')

In [85]:
index = 'Unnamed: 0'
vaex_results = pd.read_csv("s3://vaex-sagemaker-demo/benchmarks/vaex_1b_c5d2xlarge_results.csv").dropna()
spark_results = spark_results.rename(columns={'filter':'filter data','standard':'standard deviation'}).dropna()
dask_results = pd.read_csv("s3://vaex-sagemaker-demo/benchmarks/dask_1b_c5d2xlarge_results.csv").rename(columns={'standard':'standard deviation'}).dropna()
turicreate_results = pd.read_csv("s3://vaex-sagemaker-demo/benchmarks/turicreate_1b_c5d2xlarge_results.csv").rename(columns={'standard':'standard deviation'}).dropna()
datatable_results = pd.read_csv("s3://vaex-sagemaker-demo/benchmarks/datatable_1b_c5d2xlarge_results.csv").rename(columns={'standard':'standard deviation'}).dropna()

spark_results['Unnamed: 0'] = spark_results['Unnamed: 0'].apply(lambda x: x if x!='standard' else 'standard deviation')
spark_results['Unnamed: 0'] = spark_results['Unnamed: 0'].apply(lambda x: x if x!='filter' else 'filter data')
dask_results['Unnamed: 0'] = dask_results['Unnamed: 0'].apply(lambda x: x if x!='standard' else 'standard deviation')
turicreate_results['Unnamed: 0'] = turicreate_results['Unnamed: 0'].apply(lambda x: x if x!='standard' else 'standard deviation')
datatable_results['Unnamed: 0'] = datatable_results['Unnamed: 0'].apply(lambda x: x if x!='standard' else 'standard deviation')


df = pd.merge(vaex_results, spark_results, on=index, how='outer')
df = pd.merge(df, dask_results, on=index, how='outer')
df = pd.merge(df, turicreate_results, on=index, how='outer')
df = pd.merge(df, datatable_results, on=index, how='outer')
df = df.rename(columns={'Unnamed: 0':'function'})
df

,function,vaex,spark,dask,turicreate,datatable
0,read_file,0.011683,0.077481,0.669295,0.000659,0.005736
1,count,0.000008,0.356186,44.512571,0.000007,0.000002
2,mean,4.216101,2.465994,13.036804,8.204636,5.602886
3,standard deviation,3.235885,3.746569,13.482717,8.599971,8.348991
4,sum columns mean,4.451313,3.659286,16.384804,168.585349,16.942269
5,sum columns,0.000024,NaN,NaN,0.000486,0.000029
6,product columns mean,1.322712,3.769037,16.743132,228.142371,0.000030
7,product columns,0.000024,NaN,NaN,0.000501,NaN
8,arithmetic operation mean,43.629808,96.964352,67.341973,NaN,NaN
9,arithmetic operation,0.005111,NaN,NaN,NaN,NaN
10,value counts,29.157903,11.737452,13.377484,NaN,NaN
11,groupby statistics,97.408992,32.129431,734.685046,NaN,118.825982
12,join,32.684167,NaN,NaN,NaN,30.715839
13,join count,28.142619,320.095642,711.440956,NaN,18.930268
14,filter data,1.173076,0.121758,0.000253,NaN,NaN
15,filterd mean,18.955154,17.987319,835.448134,NaN,NaN
16,filtered standard deviation,3.650857,17.573639,830.932913,NaN,NaN
17,filtered sum columns mean,5.142977,21.039139,NaN,NaN,NaN
18,filtered sum columns,0.000031,NaN,NaN,NaN,NaN
19,filterd product columns mean,2.206786,20.938900,NaN,NaN,NaN
20,filterd product columns,0.000031,NaN,NaN,NaN,NaN
21,filterd arithmetic operation mean,64.590921,90.920298,NaN,NaN,NaN
22,filterd arithmetic operation,0.007702,NaN,NaN,NaN,NaN
23,filtered value counts,51.571933,27.508391,NaN,NaN,NaN
24,filtered groupby statistics,97.416653,46.273082,NaN,NaN,NaN
25,filterd count,NaN,0.083332,NaN,NaN,NaN
26,skeatch mean,NaN,NaN,NaN,52.724820,NaN
27,skeatch standatd deviation,NaN,NaN,NaN,50.305952,NaN
28,skeatch frequent items,NaN,NaN,NaN,35.261475,NaN

In [86]:
df.to_csv('results.csv')