In [10]:
import pandas as pd

In [14]:
index = 'Unnamed: 0'
spark_results = pd.read_csv("s3://vaex-sagemaker-demo/benchmarks/spark_1b_c5d2xlarge_results.csv")
dask_results = pd.read_csv("s3://vaex-sagemaker-demo/benchmarks/dask_1b_c5d2xlarge_results.csv")
vaex_results = pd.read_csv("s3://vaex-sagemaker-demo/benchmarks/vaex_1b_c5d2xlarge_results.csv")
turicreate_results = pd.read_csv("s3://vaex-sagemaker-demo/benchmarks/turicreate_1b_c5d2xlarge_results.csv")
# datatable_results = vaex.read_csv("s3://vaex-sagemaker-demo/benchmarks/datatable_1b_c5d2xlarge_results.csv")

In [21]:
df = pd.merge(vaex_results, spark_results, on=index, how='outer')
df = pd.merge(df, dask_results, on=index, how='outer')
df = pd.merge(df, turicreate_results, on=index, how='outer')
df

,Unnamed: 0,vaex,spark,dask,turicreate
0,read_file,0.005946,0.077481,0.669295,0.000659
1,count,0.000009,0.356186,44.512571,0.000007
2,mean,2.108829,2.465994,13.036804,8.204636
3,standard deviation,6.369058,NaN,NaN,NaN
4,sum columns mean,13.166302,3.659286,16.384804,168.585349
5,sum columns,0.000023,NaN,NaN,0.000486
6,product columns mean,14.657681,3.769037,16.743132,228.142371
7,product columns,0.000024,NaN,NaN,0.000501
8,arithmetic operation mean,70.558367,96.964352,67.341973,NaN
9,arithmetic operation,0.006426,NaN,NaN,NaN
10,value counts,44.904758,11.737452,13.377484,NaN
11,groupby statistics,98.289800,32.129431,734.685046,NaN
12,join,NaN,NaN,NaN,NaN
13,join_count,NaN,NaN,NaN,NaN
14,filter data,1.278465,NaN,0.000253,NaN
15,filterd mean,20.282828,17.987319,NaN,NaN
16,filtered standard deviation,7.362447,17.573639,NaN,NaN
17,filtered sum columns mean,19.342515,21.039139,NaN,NaN
18,filtered sum columns,0.000030,NaN,NaN,NaN
19,filterd product columns mean,19.115270,20.938900,NaN,NaN
20,filterd product columns,0.000030,NaN,NaN,NaN
21,filterd arithmetic operation mean,70.634640,90.920298,NaN,NaN
22,filterd arithmetic operation,0.005728,NaN,NaN,NaN
23,filtered value counts,86.780136,27.508391,NaN,NaN
24,filtered groupby statistics,98.046532,46.273082,NaN,NaN
25,standard,NaN,3.746569,13.482717,8.599971
26,join count,NaN,320.095642,711.440956,NaN
27,filter,NaN,0.121758,NaN,NaN
28,filterd count,NaN,0.083332,NaN,NaN
29,skeatch mean,NaN,NaN,NaN,52.724820
30,skeatch standatd deviation,NaN,NaN,NaN,50.305952
31,skeatch frequent items,NaN,NaN,NaN,35.261475

In [20]:
df.shape

(7, 5)